body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
}

button {
    padding: 15px 25px;
    font-size: 22px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.team {
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

.teamA {
    background-color: #e7f1ff;
    border: 2px solid #0066ff;
}

.teamB {
    background-color: #ffe7e7;
    border: 2px solid #ff3333;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 5px 0;
}

.losujBtn {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    background: #28a745;
    color: white;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

label {
    font-size: 24px;
}

#players div {
    margin-bottom: 10px;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("logo.jpg");
    background-repeat: no-repeat;
    background-position: center center;

    background-size: 130%;

    opacity: 0.25;

    pointer-events: none;
    z-index: -1;
}
