body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
}

button {
    padding: 15px 25px;
    font-size: 22px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.team {
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

.teamA {
    background-color: #e8ffe8;
    border: 2px solid #00aa00;
}

.teamB {
    background-color: #fff8d6;
    border: 2px solid #d4af37;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 5px 0;
}

.losujBtn {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    background: #28a745;
    color: white;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

label {
    font-size: 24px;
}

#players div {
    margin-bottom: 10px;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("logo.jpg");
    background-repeat: no-repeat;
    background-position: center center;

    background-size: 100%;

    opacity: 0.25;

    pointer-events: none;
    z-index: -1;
}
body {
    background-color: #f3f3f3;
}
#players,
.team,
.menuButtons {
    background-color: rgba(255,255,255,0.85);
    border-radius: 12px;
}
@media (max-width: 768px) {

    body::before {

        background-size: 115%;
        background-position: center center;
        opacity: 0.40;

    }

}
